@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {
  font-family: system-ui, Helvetica, sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ffffff;
  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #107030;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners for the scrollbar thumb */
  border: 3px solid #ffffff;
  /* Adds space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
  /* Color on hover */
}

.section-padding {
  @apply py-12 lg:py-16 xl:py-20 2xl:py-24;
}

.section-padding-minimal {
  @apply py-10 lg:py-12 2xl:py-20;
}

.bottom-padding {
  @apply pb-10 lg:pb-16 xl:pb-20 2xl:pb-24;
}

.font-h1 {
  @apply text-3xl 2xl:text-5xl lg:text-[42px] leading-[1.6] font-siliguri font-black 2xl:leading-[1.85] 2xl:py-10 2xl:px-7 lg:leading-[1.7]
}

.font-h2 {
  @apply text-2xl xl:text-[33px] 2xl:text-[36px] font-bold leading-[1.5] lg:leading-[1.6]
}

.font-h3 {
  @apply text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-bold
}

.font-h4 {
  @apply text-lg lg:text-[20px] text-justify font-medium
}

.hover-300 {
  @apply transition-all duration-300
}

.hover-500 {
  @apply transition-all duration-500
}